import Config

# Configure your database
config :phoenix_boilerplate, PhoenixBoilerplate.Repo,
  username: "POSTGRES USERNAME",
  password: "POSTGRES PASSWORD",
  database: "phoenix_boilerplate_dev",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10
